[2019-11-22 17:08] qdread opened #1 "Error due to case sensitivity of filenames on Linux system"
Hi,

I experienced an issue on a Linux system. The file names are case sensitive so calling

`buildEEIOmodel(modelname = 'USEEIOv2.0-GHG')`

returns the following error:

[code]

As you can see this is because of the case sensitivity of the file name. The function is searching for `USEEIO_LCIA_factors.csv` with lowercase f, but the file has a capital F. See below:

[code]

I think it is probably n

[2019-11-22 18:28] WesIngwersen commented on #1
@qdread Thanks so much - we'll get on it!

[2019-11-22 18:34] qdread commented on #1
I am pretty sure the only script affected is LCIAFunctions.R

[2019-11-22 19:03] qdread commented on #1
I think I fixed the problem, see #2 .

[2019-11-22 19:03] #1 closed

[2019-11-27 19:01] WesIngwersen opened #3 "Change $ year in direct emission coefficient"
Should pass satellite table $year converted to model$IOyear USD, per Andre comment.

[2019-11-27 19:01] WesIngwersen commented on #3
https://github.com/USEPA/useeior/blob/master/R/LoadSatellites.R#L42

[2019-11-27 19:15] WesIngwersen commented on #3
Fixed in this [commit](https://github.com/USEPA/useeior/commit/e918c774c65090cafbb90b19b80b257268dad86c)

FYI: @MoLi7

[2019-11-27 19:15] #3 closed

[2019-11-27 19:20] WesIngwersen opened #4 "Change $ year in final demand"
like @ #3
Change needs to be made about here
https://github.com/USEPA/useeior/blob/master/R/DemandFunctions.R#L19

No adjustment should need to be made because Final Demand are already in IOYear because they come from the IO Use

[2019-11-27 20:42] MoLi7 opened #5 "Derive DomesticFinalDemand (a dataframe)"
DomesticFinalDemand = UseFinalDemand - ImportFinalDemand

Sector-level ImportFinalDemand needs additional aggregation from Summary/Detail level.

[2019-11-28 12:45] WesIngwersen opened #6 "Add W value-added matrix"
For all models, get the rows from the Use table of the value added components and save a matrix, W, in the form of those value added components x industries

[2019-11-28 17:04] MoLi7 commented on #5
DomesticFinalDemand derived in LoadIOTables.R and added to model in prepareEEIOModel().

[2019-11-28 17:04] #5 closed

[2019-12-02 13:58] WesIngwersen commented on #4
FYI @AndreAvelino

[2019-12-02 17:46] MoLi7 commented on #4
@WesIngwersen Per Andre's comment, I think we should use DomesticFinalDemand, instead of FinalDemand, to derive USTotalConsProd.

[2019-12-02 19:04] WesIngwersen opened #7 "Make calculation flexible for different demands and domestic requirements"

[2019-12-02 19:05] WesIngwersen opened #8 "Separate out currency year adjustment and price type conversion from calculation result"

[2019-12-02 19:19] #6 closed

[2019-12-02 20:06] WesIngwersen commented on #4
FinalDemand still has the rfeferencecurrencyyear adjustment
https://github.com/USEPA/useeior/blob/master/R/BuildModel.R#L49

[2019-12-02 20:16] WesIngwersen opened #9 "Remove embedded currency year adjustment from getMarginsTable"
Let's do this conversion as needed in results dollar year adjustments
https://github.com/USEPA/useeior/blob/master/R/IOFunctions.R#L397
Otherwise the margins table is in a different dollar year than the other data

[2019-12-02 22:11] #4 closed

[2019-12-02 22:17] WesIngwersen commented on #8
I propose the new external function adjustMultiplierPrice(currency_year (int), purchaser_price=TRUE, margin_type="industry") that will provide price adjusted U and M matrices. These U and M could be labelled like U_pur_ind_2018  for purchaser prices using industry margins in 2018 dollars inside a new list object (rather than making it part of model or result).

[2019-12-02 22:21] WesIngwersen commented on #8
I would also propose removing ReferenceCurrencyYear from the model config files. I would suggest a using a file input-output methods to open the .yml files and find (using grep) and remove that line from those files

[2019-12-02 22:30] #9 closed

[2019-12-02 22:46] MoLi7 commented on #7
@WesIngwersen Could you explain a bit more about how you vision **A**, **Demand**, **f** (https://github.com/USEPA/useeior/blob/7244151dda5db681f2d01c8bdf006660ccd2d67e/R/CalculationFunctions.R#L12-L24) being used in calculateEEIOModel() and/or writeModelComponents()?
I suppose **f** will replace **model$f** in https://github.com/USEPA/useeior/blob/7244151dda5db681f2d01c8bdf006660ccd2d67e/R/Calcul

[2019-12-03 00:22] WesIngwersen commented on #7
They are just temporary variables for use within that functions' scope. It simply an assignment of the appropriate A and Demand from the model object to perform the calculations. No need to assign model variables for them.

[2019-12-03 17:05] #7 closed

[2019-12-03 17:31] MoLi7 commented on #8
In adjustMultiplierPrice function, should **adjusting price to currency_year** always be implemented in the very last step?

[2019-12-03 17:36] MoLi7 commented on #8
Removing ReferenceCurrencyYear from model config essentially means eliminating getAdjustedOutput function as well as its presences in other functions.

[2019-12-03 21:21] WesIngwersen opened #10 "Add an import direct coefficient matrix"
Create an A_m = A-A_d as a model object, then provide a calculation option that uses it if one wishes to calculates the impact of imported goods

[2019-12-04 00:01] WesIngwersen commented on #8
Yes, in the last step.

[2019-12-04 00:13] WesIngwersen opened #11 "Remove normalized matrices from result - make normalization and external function"

[2019-12-04 00:26] WesIngwersen commented on #11
Done with [bf8e6d8](https://github.com/USEPA/useeior/commit/bf8e6d8e3511e8a197a72a465e1d084a5b8cb220)

[2019-12-04 00:26] #11 closed

[2019-12-04 00:31] WesIngwersen opened #12 "Add D matrix"
D = C * B
https://s3.amazonaws.com/useeio-api-go-swagger-staging/index.html#path---model--matrix-D

[2019-12-04 00:34] WesIngwersen commented on #10
Done with https://github.com/USEPA/useeior/commit/7c9ddf67834fd0bca3c554a940dff185ec29162b

[2019-12-04 00:34] #10 closed

[2019-12-04 00:35] WesIngwersen commented on #12
Done with [66e197d](https://github.com/USEPA/useeior/commit/66e197dec274a54f56261b7a60172ad587611ed4)

[2019-12-04 00:35] #12 closed

[2019-12-04 00:37] WesIngwersen commented on #8
@MoLi7  Lets just update the per dollar impact matrices per now, so write a generic function that will work for either D, M, or U  matrices.  We do not need to modify the calculateEEIOModel function

[2019-12-04 01:50] WesIngwersen commented on #8
The satellite tables still need getAdjustedOutput
https://github.com/USEPA/useeior/blob/master/R/SatelliteFunctions.R#L54

[2019-12-04 18:41] MoLi7 commented on #8
I completed the adjustMultiplierPrice function [here](https://github.com/USEPA/useeior/commit/2b81fdc531855270990d170a18d60aa247edd68a), which needs further edits to ensure the IO_year_to_currency_year multiplication is done correctly.

[2019-12-05 12:31] WesIngwersen commented on #8
@MoLi7 Thanks, this is the idea. I think it would be better to declare the matrices to apply this too and not adjust all - so just B, D, M, and U for now.  Like the producer price adjustment, we could perform the currency year adjustment as a matrix multiplication of a diagonalized currency adjustment factors as opposed to using sweep.. just make sure alignment of the dimensions for that is correc

[2019-12-05 21:07] WesIngwersen commented on #8
Please test this with some known data. Ideally we should be building unit tests with a small independently calculated IO model to test these functions

[2019-12-05 21:59] MoLi7 commented on #8
Currently, B and M derived using adjustMultiplierPrice(currency_year=2017, purchaser_price=TRUE, margin_type="final consumer", model1) are quite different from those serving as results of GHG report. I suspect it is caused by unnecessary price adjustment in buildEEIOModel and related functions, I will look into it.

[2019-12-05 23:18] MoLi7 commented on #8
@WesIngwersen Although getAdjustedOutput may be needed for satellite tables, it should not be used here (https://github.com/USEPA/useeior/blob/b9b6c7c39100afd9514905dbe1c8f9c9a2d6e236/R/IOFunctions.R#L105), since we want to move all currency_year price adjustment to adjustMultiplierPrice. Furthermore, we need to think over whether to apply currency_year price adjustment in satellite tables.

[2019-12-06 23:46] MoLi7 commented on #8
@WesIngwersen Please review updated adjustMultiplierPrice [here](https://github.com/USEPA/useeior/commit/6cf9988a808589bbee0476be6632aa0b8936d555).

[2019-12-10 15:36] WesIngwersen opened #13 "Add in margin impacts"
Create M and U matrices with additional impacts of margins

[2019-12-10 22:04] WesIngwersen commented on #8
Per discussion we will make this function work for passed matrices, and not a fixed list

[2019-12-10 23:17] MoLi7 opened #14 "getMarginsTable: transform margins from Commodity to Industry format if specified by model"
@WesIngwersen Could you review this process [here](https://github.com/USEPA/useeior/blob/dd2cbe80cd537e1f741cfd4d87440bcb84021867/R/IOFunctions.R#L398-L405) to confirm the transformation is correct?

If marginsource=="final consumer", the [vector %*% matrix](https://github.com/USEPA/useeior/blob/dd2cbe80cd537e1f741cfd4d87440bcb84021867/R/IOFunctions.R#L403) does not return correct results for Prod

[2019-12-10 23:19] MoLi7 commented on #14
@WesIngwersen Please also note that I dropped the V sectors in MarginsTable using [this code](https://github.com/USEPA/useeior/blob/2c9a80cb81957d470bc5592c87a72517b36c759b/R/IOFunctions.R#L395-L396).

[2019-12-11 00:54] MoLi7 commented on #13
@WesIngwersen Determining margin_allocation table can be tricky: ideally, it should be commodity output ratios (because we are allocating margins), but if the model is an Industry model, we can only calculate industry output ratios, which means a getOutputRatio function cannot flexibly do the work. Unless we pre-calculate and save all output ratio tables for Commodity and Industry models, then pas

[2019-12-11 02:00] MoLi7 commented on #13
@WesIngwersen Scratched the previous comment, I created [this utility function](https://github.com/USEPA/useeior/blob/e591693a723b31b1237a0c37d265609057bc84e4/R/UtilityFunctions.R#L43-L78) to flexibly calculate output ratios.

[2019-12-11 20:00] WesIngwersen commented on #13
@MoLi7 In the margin_allocation table, the idea was that the ratios would be like:  (x_481000)/sum(x_for all transportation sectors), so it would be passing a vector of sectors code to get the output for and dividing by the sum.  Since model object already has CommodityOutput and IndustryOutput saved, then its easy just to use that.

[2019-12-16 19:32] MoLi7 commented on #8
Solved by adjustMultiplierPrice function in [CalculationFunctions.R](https://github.com/USEPA/useeior/blob/master/R/CalculationFunctions.R)

[2019-12-16 19:32] #8 closed

[2019-12-31 12:29] WesIngwersen opened #15 "Sat tables stored twice in model object"
Sat tables are stored more than once, in
model$sattables
and
model$sattablelist

We should find a way not to have to duplicate it

[2019-12-31 12:42] WesIngwersen opened #16 "Store national totals by model sector list"
Need to store national totals by sector for satellite table to have them externally available

[2019-12-31 13:34] WesIngwersen opened #17 "Model output writing needs to be expanded to write out indicators and satellite tables"
Model output writing was using a hack to only write out the GHG satellite tables and indicators.. a future version needs to write the correctly formatted (using IOMB formatting) aggregated satellite table in the already transformed format and the indicator table

[2019-12-31 13:58] WesIngwersen commented on #15
Just trying this
  #Clean up to remove satellite table objects
  remove(model$sattables)
  remove(model$sattables_cast)

throws an error...not sure why

[2019-12-31 14:08] WesIngwersen commented on #16
Added sub list of sattablelist called 'totals_by_sector' which will be a list of national totals by sector that can be directly accessed [93a8018](https://github.com/USEPA/useeior/commit/d3d11385ecc2fd9e67f3b2a45638e760193a8018)

[2019-12-31 15:48] WesIngwersen commented on #14
The setup of the code within the [if statement] for handing industry models (https://github.com/USEPA/useeior/blob/master/R/IOFunctions.R#L400) should be improved.

I suggest after calculating Margins_Industry to merge it with the MarginsTable instead of assigning MarginsTable the new MarginsTable_Industry$ProducersValue column

[2019-12-31 16:57] MoLi7 commented on #14
Merging sounds good, it will return a Margins Table with several industry sectors having zeros in Transportation, Wholesale, Retail and having PurchaserValue=ProducerValue.

[2020-01-02 18:29] MoLi7 commented on #16
@WesIngwersen I further modified and renamed sattablelist and updated satellite components in model, see [https://github.com/USEPA/useeior/commit/952d120df5c0f2bd56a325b6575391b5d991a981](url)

[2020-01-03 17:32] #14 closed

[2020-01-03 19:14] #15 closed

[2020-01-03 19:15] #13 closed

[2020-01-03 19:15] #16 closed

[2020-01-14 18:06] WesIngwersen opened #18 "Improve aggregation functions related to satellite tables"
1 The aggregation calls need to be put into a common function. this function needs to be designed to handle multiple aggregation functions (like weighted mean and sum).  The base `aggregate` function from stats is not capable of doing this, but [dplyr and data.table packages have this capability](https://stackoverflow.com/questions/32561050/multiple-functions-in-aggregate). We need one with a conv

[2020-01-14 20:16] WesIngwersen opened #19 "Add standard DQ scoring functions for satellite data"

[2020-01-15 22:34] WesIngwersen commented on #19
Complete for now. DataQuality.R functions added. But only calculations temporal correlation for now. Others must come in with incoming satellite data.

[2020-01-15 22:34] #19 closed

[2020-01-15 22:36] WesIngwersen commented on #18
@MoLi7
Changed into a bug, because model building throws errors until
-other DQ columns are added to GHG excel and present in csv imports (see Jira 503)
-this first aggregation function is replaced with a function to handle all the data quality values.

[2020-02-12 22:25] WesIngwersen commented on #17
Done. In [WriteModel.R](https://github.com/USEPA/useeior/blob/master/R/WriteModel.R)

[2020-02-12 22:25] #17 closed

[2020-02-12 22:29] WesIngwersen commented on #18
@MoLi7 I understood this was resolved but I don't see the resolution in https://github.com/USEPA/useeior/blob/master/R/SatelliteFunctions.R#L141

[2020-02-12 22:34] MoLi7 commented on #18
The latest resolution to the aggregation function is actually https://github.com/USEPA/useeior/blob/7da0042b07ef20d6c6e1200d1a0d4d9530d57ae5/R/SatelliteFunctions.R#L135-L137. The function can be tested in https://github.com/USEPA/useeior/blob/master/tests/testthat/test-SatelliteFunctions.R

[2020-02-18 17:57] WesIngwersen opened #20 "Invalid margin result for s00402/us"
Reported by Kevin Ummel
for  modelname <- "USEEIOv2.0-GHG"
price_adjusted_margin$U_margin_pur_2018[1,]

1111a0/us   1111b0/us   111200/us   111300/us   111400/us   111900/us   112120/us   1121a0/us   112300/us   112a00/us   113000/us
     0.1086      0.0732      0.1687      0.1401      0.0792      0.0652      0.0839      0.0788      0.0574      0.0597      0.1298
  114000/us   115000/us   211000/u

[2020-02-26 15:33] WesIngwersen opened #23 "Error in col assignment in formatIOTableforIOMB"
The col headers are incorrect for the used and other commodities when formatted for iomb
https://github.com/USEPA/useeior/blob/4019fff557f8154bf3ecee591152e6c923f6e3cd/R/WriteModel.R#L27

Demonstrated in
modelname <- "USEEIOv2.0.16s-GHG"
found:
last two column names are
l <- ncol(DirectRequirementsCoefficients)

[1] "used/farms/us"
[2] "other/forestry, fishing, and related activities/us"

somehow

[2020-02-26 21:53] MoLi7 commented on #23
[This commit](https://github.com/USEPA/useeior/commit/2313c3a40c750bc8943d66fe65c2bc2fbe425bc8) should fix this issue.

[2020-02-28 11:20] #23 closed

[2020-02-28 11:21] WesIngwersen opened #24 "Missing date in DESCRIPTION"
The fields need to be present such that the R base function
citation("useeior") will work. I get this error:
Warning messages:
1: In citation("useeior") :
  no date field in DESCRIPTION file of package ‘useeior’
2: In citation("useeior") :
  could not determine year for ‘useeior’ from package DESCRIPTION file

Could be missing other fields too. Try citation() after building and installing

[2020-03-03 20:12] #24 closed

[2020-06-10 00:09] MoLi7 opened #27 "Write more EEIO matrices to csv"
Consider integrating useeiopy$write_EEIO_matrices() in useeior::writeModelComponents to write coefficients matrices, so that all model results are directly exposed to users. This will require specific instructions for installing useeiopy.
@WesIngwersen @catherinebirney please feel free provide your thoughts, thanks!

[2020-06-11 18:26] cga203 opened #28 "Adjust scrap prior to deriving A matrix"
In useeior its missing to adjust scrap in market shares matrix before multiplying the normalized use and normalized make table to obtain the A matrix. In specific, in function generateMarketSharesfromMake().

[2020-06-23 01:20] WesIngwersen commented on #28
@cga203 Correct this has not yet been implemented.

[2020-07-08 19:46] WesIngwersen opened #30 "Create commodity names for summary level BEA schema"
Starting with https://github.com/USEPA/useeior/blob/master/inst/extdata/USEEIO_Commodity_Code_Name.csv#L434
the names still reflect the given industry name from BEA. They should be given commodity like names based on what was done at the detail level in the same file

[2020-07-14 23:53] MoLi7 opened #31 "Consider exporting normalizeIOTransactions() in useeior"
normalizeIOTransactions() is used [here](https://github.com/USEPA/stateio/blob/6fff2d88bc705ef379631979b179de95fa2f74b6/data-raw/StateSupply.R#L156) for generating MarketShare, but it is not an exported function from useeior.
@WesIngwersen

[2020-07-20 17:18] MoLi7 commented on #31
https://github.com/USEPA/useeior/commit/e85b02701e6c7e522ad9ae7c4f794b8947ad9f95

[2020-07-20 17:18] #31 closed

[2020-07-31 01:25] WesIngwersen commented on #28
In the near future we have not intention of removing the scrap commodity as it creates other balancing challenges.

[2020-07-31 01:25] #28 closed

[2020-07-31 01:34] WesIngwersen opened #35 "Consider a grouping variable in model object for matrices"
Matrices have to been manually named to write out to API , useeiopy, or just as csv.

[2020-07-31 01:36] WesIngwersen opened #36 "Need function to automatically update all model spec files"
Any changes to the model specs yaml files requires manually updating all files which continue to multiply. We need to be able to make an edit to change fields or descriptions in an automated way

[2020-07-31 15:13] WesIngwersen opened #38 "WriteModelMetadata for API not appending model info to existing models.csv"
No appending and no warning messages given

[2020-08-07 18:46] WesIngwersen opened #39 "Illegal ' char in demand json export"
Adding an illegal '  after druggist
{'424200/drugs and druggists’ sundries/us'}

Results is having a sector  id in the demands.json not match the sector id in sectors.csv

[2020-08-07 18:55] WesIngwersen opened #40 "WriteModelMetadata - only export flows used in model"
Currently exporting all flows in useeior

[2020-08-07 18:56] WesIngwersen opened #41 "WriteModelMetadata - only export indicators used in model"
Currently exporting all indicators in useeior

[2020-08-24 17:36] WesIngwersen opened #44 "NAICS in MasterCrosswalk missing PCE/household code"
Flowsa is using a PCE code for households. the Flowsa data come in with these NAICS codes and we assume the NAICS columns from the MasterCrosswalk apply, but until the MasterCrosswalk gets these codes added they will be dropped.

[2020-08-26 23:28] WesIngwersen opened #45 "C columns can't be indexed by B rows with dynamic approach"
https://github.com/USEPA/useeior/blob/028172e549105c3baf8ea63a6d3884c69c0ffd80/R/BuildModel.R#L37
This line will fail with dynamic sources of sat tables and indicators because the indicators don't necessarily have all of the flows present in them.

affects onlly: linktoflowslciafmt branch when building models with dynamic flows and indicators like USEEIOv2.0-WAT

[2020-08-27 02:13] #45 closed

[2020-09-05 16:05] WesIngwersen opened #48 "lineplotcoefficients error - reference var not defined in scope"
https://github.com/USEPA/useeior/blob/a56129051db01a45bf4303dd1275bfd4b8738e6e/R/VisualizationFunctions.R#L47

df_model is not defined with this functions scope

[2020-09-05 18:29] MoLi7 commented on #48
@WesIngwersen df_model is created in the for loop above https://github.com/USEPA/useeior/blob/a56129051db01a45bf4303dd1275bfd4b8738e6e/R/VisualizationFunctions.R#L33, it should be available for passing to ggplot2::theme. I tested it [here](https://github.com/USEPA/useeior/blob/a56129051db01a45bf4303dd1275bfd4b8738e6e/examples/WaterModelGraphs.R#L20) and it worked for me.

[2020-09-05 21:13] WesIngwersen commented on #48
It's actual here is the var definition problem. sorry i was wrong before
https://github.com/USEPA/useeior/blob/a56129051db01a45bf4303dd1275bfd4b8738e6e/R/VisualizationFunctions.R#L32

model isn't defined.. in your example you happen to have used the same variable and that's why it worked.

[2020-09-05 21:14] WesIngwersen commented on #48
@MoLi7  This will trigger it
https://github.com/catherinebirney/water_use_methods/blob/41fb5e68b5672c5b780a9edf27c08c3334dd5e21/Results.Rmd#L26

[2020-09-10 23:22] #48 closed

[2020-09-10 23:24] WesIngwersen commented on #44
Fixed by commit 8529c240dafa37fed1300405089b156361009328

[2020-09-10 23:24] #44 closed

[2020-09-25 19:36] WesIngwersen opened #50 "GrossOutput 6 orders of mag to high in models"

[2020-09-25 19:41] WesIngwersen commented on #50
fixed

[2020-09-25 21:48] MoLi7 commented on #50
Fixed by this [commit](https://github.com/USEPA/useeior/commit/c1ad7f2a76e6bb096bc79b1bdb02e34c7ff2a95e).

I re-generated USEEIOv2.0.10-GHG model and validated its coefficients match the ones in the Supply Chain GHG report, so I think we can confirm this issue is fixed by the commit above.

[2020-09-25 21:48] #50 closed

[2020-10-16 01:36] WesIngwersen opened #54 "Dimensional stone in cement supply chain"
Portland Cement Association remarked that dimensional stone should not appear in the supply chain as a primary source of impact - that it is the wrong BEA code as it should be Limestone in a different code

[2020-11-19 15:50] bl-young opened #59 "WriteModelforUSEEIOPY - missing some LCIA data"
LCIA sourced from LCIAformatter is not being pulled into the exported csv files

[2020-11-20 13:11] WesIngwersen opened #60 "Energy flow mappings missing original flow data"
https://github.com/USEPA/useeior/blob/df973b11f305922d5cc56963d82cc72989f8ca8a/inst/extdata/Crosswalk_USEEIO_FlowMapping.csv#L2192

Line reference is just to first missing flow but others also missing

[2020-11-20 13:48] #60 closed

[2020-12-16 21:11] WesIngwersen commented on #54
Addressed in Minerals.csv file for inclusion in new models

[2020-12-16 21:11] #54 closed

[2020-12-16 21:14] #18 closed

[2020-12-23 22:04] MoLi7 commented on #20
I believe this issue (S00402' U_pur_margin < 0) originated from [here](https://github.com/USEPA/useeior/blob/ba75e027b8c0b16802b58520f9de6a43fb546328/R/AddMarginImpacts.R#L15) where fractions of margin sectors (transportation, wholesale, retail) in producer price were calculated:
`MarginCoefficients <- as.matrix(Margins[, c("Transportation", "Wholesale", "Retail")]/Margins[, c("ProducersValue")])`

[2020-12-23 22:08] WesIngwersen commented on #20
Yes, I don't know any good way around that at this point without understanding the data a little more.  So your suggestion is the only solution I can think of to avoid the bug. We just need to document somewhere what we did. thanks

[2020-12-23 22:19] #20 closed

[2021-01-12 12:54] WesIngwersen commented on #30
done

[2021-01-12 12:54] #30 closed

[2021-01-16 11:17] WesIngwersen commented on #39
I've traced this issue back to the original reading of the sector names where the `'` character comes in.  It initially renders fine, but once converted to a string and then later encoding as UTF-8, its gets screwy.
`424200/drugs and   druggistsÃ¢â‚¬â„¢ sundries/us`

The best place to deal with this is on the initial saving of the sector names, and there is already some treatment to remove special

[2021-01-16 19:28] WesIngwersen commented on #39
See pr #75 for resolution

[2021-01-16 19:28] #39 closed

[2021-01-18 21:28] #41 closed

[2021-01-19 15:10] #40 closed

[2021-01-19 21:30] MoLi7 opened #77 "Move indicator string assignments to .yml"
Move these indicator [string](https://github.com/USEPA/useeior/blob/aa6b5f94a4a60a28ddad1b0457509563c4fb7870/R/LoadIndicators.R#L1-L2) assignments to .yml file.

[2021-01-19 22:27] #77 closed

[2021-01-20 14:30] TheTisiboth opened #78 "Error with writeModelforApi"
I'm getting an error when I try to use this function. Maybe I am doing something wrong ? But it is the script `USEEIO20-GHG.R` from the branch `master`.

[code]

Gives me the following error :

[code]

[2021-01-20 15:16] WesIngwersen commented on #78
I'm actively revising this at the moment in the refac_indicators branch. You can [contact me](https://github.com/WesIngwersen) directly if you want more information. thanks

[2021-01-20 15:26] TheTisiboth commented on #78
Oh great! Thank you for the quick answer, I'm gonna have a look at it.

[2021-01-21 21:16] WesIngwersen commented on #78
This should be working now for that model in v2-alpha

[2021-01-21 21:17] WesIngwersen commented on #38
Resolved with https://github.com/USEPA/useeior/commit/008bb2dd5acd11434bc4053844593c41ee9c2fac

[2021-01-21 21:17] #38 closed

[2021-01-22 01:06] MoLi7 opened #81 "All BEA levels needed in model$crosswalk"
@WesIngwersen @bl-young @jvendries
I notice [`model$crosswalk`](https://github.com/USEPA/useeior/blob/ef270925b0c29a287f5abdd8c64a732b727ef982/R/LoadIOTables.R#L12-L14) now only has two columns (one BEA and one NAICS), but sometimes all BEA levels (or at least two levels) are needed in particular circumstances, such as [aggregating sat tables](https://github.com/USEPA/useeior/blob/ef270925b0c29a28

[2021-01-22 01:48] WesIngwersen commented on #81
Yes I actually think we need the other sectors for writeSectorCrosswalktoAPI unless that is not model dependent

[2021-01-22 12:53] TheTisiboth commented on #78
Hello Winsley
Thank you for keeping me up to date!

Sadly, I am getting an error as I try to run the following line :
`model <- useeior::loadandbuildIndicators(model)`

The error is the following :

`ModuleNotFoundError: No module named 'lciafmt'`

However, I have successfully installed it (I can import lciamft in a
Python script with success).

Do you know such an issue ?

I keep looking why I ge

[2021-01-22 14:10] bl-young commented on #81
model$Crosswalk is the version that gets updated for disaggregation. I think in some cases it makes sense to go back to the original (in cases where BEA data is being accessed such as in `getMarginsTable` [here](https://github.com/USEPA/useeior/blob/master/R/IOFunctions.R#L199))

I can imagine that when aggregating a satellite table for use in a summary model, it would be good to have the master$c

[2021-01-22 17:56] MoLi7 commented on #81
@WesIngwersen @bl-young thanks for your feedbacks!

I think we've discussed and agreed to use `model$crosswalk` throughout the package regardless of disaggregation, therefore in the two examples you brought up, @bl-young , we can simply use `model$crosswalk` because `model` is a parameter in the functions. Let us coordinate on making `model$crosswalk` have all BEA levels since changes will be made

[2021-01-22 19:29] WesIngwersen commented on #81
@MoLi7  can we close this now?

[2021-01-22 19:29] #78 closed

[2021-01-22 19:33] WesIngwersen opened #83 "Row order for flows and indicators csv written for API doesn't match order in matrices"
The index for the these metadata files must match the order in the matrices where they appear as rows or columns

[2021-01-22 19:37] MoLi7 commented on #81
@WesIngwersen if it's okay, I'd like to close this after @bl-young and I complete all necessary modifications.

[2021-01-22 22:21] WesIngwersen commented on #83
@MoLi7 let me know if you can look into this

[2021-01-22 22:23] MoLi7 commented on #83
Sure I will take a look now.

[2021-01-22 22:25] WesIngwersen commented on #81
@bl-young @MoLi7 Something related is for the writerSectorCrosswalktoAPI. Thats a crosswalk for API users to use to go from a specific model schema to NAICS levels. A models schema is defined in the models.csv. For useeiov2, it doesnt have a defined schema now because of the disaggregation. It needs to have a column in that sectorcrosswalk so users can relate that model to NAICS

[2021-01-22 22:58] MoLi7 commented on #83
This [commit](https://github.com/USEPA/useeior/commit/9e0471bb61c3b5650123558e5ebcd3ee5749c7af) should fix the issue, I was working in disaggregation branch so it's there. If you want it in another branch, please cherry-pick it.

Note that [`sectors$ID`](https://github.com/USEPA/useeior/blob/7aa015c0a718a3d4a123eee8f35fb94ab300f948/R/WriteModel.R#L222) includes `Name` which is slightly different f

[2021-01-22 23:11] MoLi7 commented on #81
After a series of changes by @bl-young and myself, `model$crosswalk` is complete now.

@WesIngwersen I'm about to replace MasterCrosswalk2012 with `model$crosswalk` in writeSectorCrosswalkforAPI. Per your comment, I will add an empty ModelSchema column to `model$crosswalk` for now, is that what you want to have there?

For future model schemas, I imagine they can be defined in modelname.yml and wi

[2021-01-23 12:19] WesIngwersen commented on #83
I had incorrectly stated "sectors" instead of "flows" in the title.  I will work on the flows ordering

[2021-01-23 13:44] WesIngwersen commented on #83
The $Index, which is what is used to align the names in this metadata with the model matrices in the SMM Tools, always has to be created following the completion of all ordering operations. This is corrected now.

[2021-01-23 13:46] WesIngwersen commented on #83
The flows in SatelliteTables$flows and in the B matrix are not the same.. 2641 for USEEIO2.0 in B verses 2671 in $flows so this still needs to be addressed

[2021-01-23 17:57] bl-young commented on #83
These flows that appear in $flows but not B are flows that don't have any assigned sectors in totals_by_sector, I'm looking into see why that happens

[2021-01-23 18:20] bl-young commented on #83
In one case, the only NAICS (or I assume a single facility) that reports cumene hydroperoxide to water lists NAICS 325192, which is a NAICS that expired after 2007.

There are records in CRHW from RCRA/stewi that are coming in at 5 digit NAICS, but they are listed as having a "." at the end, so "11115." Trying to identify where this is happening.

[2021-01-23 19:49] WesIngwersen commented on #83
Thanks @bl-young. Did you recheck the flows in each table after that?

[2021-01-23 19:54] bl-young commented on #83
A difference of 5 flows remains, all 5 (3 CRHW, 1, GRDREL, 1 WATREL) are due to only appearing listed for NAICS that don't exist for 2012 but either use 2007 or 2017 NAICS codes.

[2021-01-23 20:02] WesIngwersen commented on #83
I think this is a flowsa issue so I added that referenced issue.

[2021-01-24 14:11] #83 closed

[2021-01-24 14:11] #81 closed

[2021-02-01 16:23] WesIngwersen commented on #35
like model$matrices$A

[2021-02-02 21:41] bl-young commented on #83
This commit now checks for this missing flow issue specifically https://github.com/USEPA/useeior/commit/33d35d15f8e13b584637f4e1b385005fc1cece88

[2021-02-04 00:58] MoLi7 opened #86 "Disaggregated model$MakeTransactions (incorrectly) integrated with model$BEA$IndustryOutput"
I think we have a few underlying IO functions NOT updated after the disaggregation of Make and Use, e.g. [here](https://github.com/USEPA/useeior/blob/9a7d1216a6db543f6bca11daeb6c27568ae218fd/R/IOFunctions.R#L79). This might have messed up the economic calculations to a certain extent.

I discovered it by running the following code:
[code]
Apparently, several disaggregated waste sectors have `indus

[2021-02-04 20:02] MoLi7 commented on #86
I may have exaggerated the issue in my previous comment 😥, my apologies!

After more thoughts, I realized the economic calculations should not go wrong as long as the disaggregation of waste sectors is correctly implemented - I'm sure @bl-young and @jvendries have done it right.

However, the errors in disaggregated CommodityMix matrix still trouble me: does it make sense that `colSums(C)` of the

[2021-02-04 23:15] WesIngwersen commented on #86
@jvendries @bl-young  Could you take a look at this?

[2021-02-16 01:00] WesIngwersen opened #91 "Reconsider IO source of commodity output, q"
https://github.com/USEPA/useeior/blob/7a42b122cef30dddc00ea10030c04bc200ad2d19/R/LoadIOTables.R#L31

Currently the choice for q is the Use table. In the PRO price tables, q in Make ~ q in Use
but in the PUR model, q in Make does not equal Use
In that model, q would be more appropriate in most cases to be taken from Make, because of market shares calculation would need to use that q

[2021-02-16 01:02] WesIngwersen commented on #91
One case in which such a change would not be if taking from the Make would be in the validation check,  q = UseTransactions + FinalDemand

[2021-02-16 18:06] MoLi7 commented on #91
We can modify `loadIOData` to get q from Make for PUR model, but it will lead to S00402 (used and secondhand goods) and S00300 (noncomparable imports) having zeros in q since these two are not industry-produced commodities. As a result, the market shares calculation will be inviable because of the zeros in q.

[2021-02-16 21:26] WesIngwersen commented on #91
Let's hold off for now until I know that we need a PUR model.

[2021-02-16 21:26] #91 closed

[2021-02-17 15:25] catherinebirney opened #94 "Error in NAICS 2007 to NAICS 2012 Crosswalk"
@MoLi7 @WesIngwersen
2007 NAICS that start with '451' are crosswalked to 2012 NAICS '443' and '451'

![image](https://user-images.githubusercontent.com/60186515/108224882-5df65080-7109-11eb-84d2-a87490861934.png)

[2021-02-17 16:24] catherinebirney commented on #94
There are additional issues in the NAICS 2007 to NAICS 2012 crosswalk. I'll create a list

[2021-02-17 19:42] MoLi7 commented on #94
The following two commits should fix the error:
https://github.com/USEPA/useeior/commit/1b7e96c0fa2de130a79028ea917bc388048d3f88
https://github.com/USEPA/useeior/commit/7ede2c9c579051b68c17099dba36dcecce8b57ce

[2021-02-17 19:42] #94 closed

[2021-02-23 18:29] MoLi7 opened #99 "Local directory incompatibility between Mac OS and Windows OS"
The current [local directory setup](https://github.com/USEPA/useeior/blob/b31e377db8c05d2d5f995e682f891c57968aeb60/R/UtilityFunctions.R#L120-L161) for downloading and loading parquet files does not work in Mac OS, I believe it is a common issue caused by `/` and `\` between Mac/Linux and Windows OS.

Does anyone know any trick to address such issue?
@WesIngwersen @catherinebirney @bl-young @jvendr

[2021-02-23 18:31] WesIngwersen commented on #99
/ works for both and should be used in place of \

[2021-02-23 18:33] MoLi7 commented on #99
Alright, I will replace \ with / and ask you (or other Windows users) to confirm it, thanks!

[2021-02-23 18:36] WesIngwersen commented on #99
I have used that convention in many cases in both Python and R but yes i will check the change, thanks!

[2021-02-23 19:11] MoLi7 commented on #99
@WesIngwersen please pull refac_IO to confirm :)

[2021-02-23 19:20] bl-young commented on #99
@MoLi7  data download still worked for me with your new commit. I think we can close this. thanks

[2021-02-23 19:20] #99 closed

[2021-02-27 13:22] WesIngwersen commented on #59
We're not supporting useeiopy any longer.

[2021-02-27 13:22] #59 closed

[2021-02-27 13:25] WesIngwersen commented on #86
Resolved by @jvendries with this commit https://github.com/USEPA/useeior/commit/73f9238802ff634806f4e8b8528ee37257f098ed

[2021-02-27 13:25] #86 closed

[2021-03-04 22:38] MoLi7 opened #103 "model$TbS$Sector==NA in USEEIO2.0"
Latest USEEIO2.0 model has 6 totals_by_sector obs. having Sector==NA, see [TbS$Sector==NA.xlsx](https://github.com/USEPA/useeior/files/6087009/TbS.Sector.NA.xlsx).

@bl-young @catherinebirney could you check on this?

[2021-03-05 14:27] WesIngwersen commented on #103
@MoLi7  Did this [commit ](https://github.com/USEPA/useeior/commit/970b2b32fbfdb0523acd381e985fc121a528a275 )resolve that?

[2021-03-05 14:35] catherinebirney commented on #103
@MoLi7 The FBS on Data Commons have not been updated in about a month, so I don't think any recent changes to flowsa would impact useeio2.0 results

[2021-03-05 14:41] bl-young commented on #103
We did make changes to how the data are processed in useeior since we removed the connection in flowsa (which removed some code in flowbysector_collapsed). I think we attempted to replicate that, but you may remember htere was discussion around handling None/NA from python before it got to R, so perhaps that issue has resurfaced.

[2021-03-05 14:59] bl-young commented on #103
There is NAICS 541710 in this dataset which expired after 2002. I seem to recall @catherinebirney fixing this. Perhaps the FBS just needs to be updated. https://github.com/USEPA/flowsa/issues/49#issuecomment-775138465

[2021-03-05 15:02] catherinebirney commented on #103
@bl-young can you add the most recent version of the file to the SharePoint folder so Mo can test? And if it works I'll update Data Commons

[2021-03-05 15:07] bl-young commented on #103
I'll add that this is being caught by [checkSatelliteFlowLoss ](https://github.com/USEPA/useeior/blob/v2-alpha/R/SatelliteFunctions.R#L262) but the loss is so small that it doesn't hit the tolerance.

[2021-03-05 15:10] bl-young commented on #103
Are we comfortable dropping flows where sector = NA (without warning) after checking that the flow loss is minimal to avoid issues in the future? Probably [here](https://github.com/USEPA/useeior/blob/v2-alpha/R/LoadSatellites.R#L56rl)

[2021-03-05 15:40] bl-young commented on #103
@MoLi7  see this [commit](https://github.com/USEPA/useeior/commit/69badcf15a48398811ec345d62a9ad1e33e9f776)

[2021-03-05 23:29] MoLi7 opened #104 "Deal with NAs in USEEIO2.0 model$TbS$SectorName"
This is NOT a duplicate of https://github.com/USEPA/useeior/issues/103.

@jvendries found sectors "331314" "S00201" "S00101" "S00202" do not have corresponding SectorName in model$TbS.

My explanation is because USEEIO2.0 is a commodity-based model, these industry sectors are not in `model$SectorNames`, hence no names are available for them.

Keeping them in `model$TbS` and `model$CbS` should not

[2021-03-06 22:08] WesIngwersen commented on #104
We DO need the industry names for any industry used in the model and same for commodities, even if its not used in the final product.

[2021-03-08 17:18] MoLi7 commented on #104
@WesIngwersen yes, I agree that we need all industry names. Because they are assigned when FbS is mapped from NAICS to BEA ([here](https://github.com/USEPA/useeior/blob/03eb1e8235665f3c3dc51584893265e9b48c38de/R/SatelliteFunctions.R#L46)), and FbS is always by-industry, I propose we directly use `useeior::Detail_IndustryCodeName_2012.rda` instead of `model$SectorNames` to paste the names. This way

[2021-03-08 17:35] jvendries commented on #104
@MoLi7 If I understand correctly, this proposed change would not include the sector names for the disaggregated industries, as by this point in the code flow `model$SectorNames` has been disaggregated whereas `useeior::Detail_IndustryCodeName_2012.rda` is not modified during disaggregation. Is this correct?

An alternative solution could be to add a `model$IndustryNames` to the model, but the addi

[2021-03-08 20:36] MoLi7 commented on #104
@jvendries thanks for the reminder about disaggregation - it is a good point for not using `useeior::Detail_IndustryCodeName_2012.rda`.

@WesIngwersen and I briefly discussed about the alternative solution you brought up, he thinks we could have two `df`: `model$IndustryCodeName` and `model$CommodityCodeName` where there are a code (with location) column and a name column, ultimately they can repl

[2021-03-08 21:46] WesIngwersen commented on #104
My recommendation was more in the form of model$Commodities and model$Industries (keeping them) but making them either a list of df so then you could access model$Commodities$Code, model$Commodities$Name,model$Commodities$Location, and then for convenience a model$Commodities$Code_Loc for the standard "562111/US"

[2021-03-08 21:50] jvendries commented on #104
@MoLi7 @WesIngwersen I think Wes' solution is good solution from a disaggregation perspective, since those dataframes could be modified to include the new sectors in a manner analogous to how the current industry and commodity string vectors are modified. However, this solution will require quite a bit of effort elsewhere since as you point out, it will require changes to the various scripts to ac

[2021-03-08 22:47] MoLi7 commented on #104
Okay, let's try @WesIngwersen's recommendation and convert `model$Commodities` and `model$Industries` into `df`. I will create a Jira task and assign it to myself. @jvendries if you don't mind I will create and assign to you a related task to modify disaggregation functions.

[2021-03-08 23:02] jvendries commented on #104
@MoLi7 Sounds good.

[2021-03-09 20:41] WesIngwersen opened #107 "Commodity names are slightly different in v2.0 and v1.2"
here are a few ...

|v2.0|v1.2|
|---|---|
|Transportation structures and highways and streets|Highways, streets, and bridges|
|Single-family residential structures|Single-family homes|
|Power and communication structures|Utility buildings and infrastructure|

[2021-03-09 22:20] MoLi7 commented on #104
This issue is resolved by PR #106 .

[2021-03-09 22:20] #104 closed

[2021-03-09 22:21] jvendries opened #108 "Sequential builds of same model do not seem to produce identical results"
When running the same model twice in a row, the model builds do not seem to have identical values. After looking into this, the issue seems to be caused by the `model$TbS` object. Specifically, the `model$TbS$years` column seems to have slight discrepancies between sequential model builds, which leads to differences in the `model$CbS`, `model$B`, `model$D`, `model$N`, and `model$N_d` objects.

I b

[2021-03-10 14:38] jvendries commented on #108
Thanks for confirming the solution @MoLi7 .
Modified the line and pushed it to v-2 alpha.

[2021-03-10 14:38] #108 closed

[2021-03-10 16:18] bl-young commented on #103
Can this be closed? @MoLi7

[2021-03-10 17:18] #103 closed

[2021-03-18 00:49] WesIngwersen opened #115 "Error in LoadDemandVectors v2-alpha"
[code]

[2021-03-18 00:49] WesIngwersen commented on #115
orignally reported by @bl-young confirmed by @jvendries and myself

[2021-03-18 01:29] WesIngwersen commented on #115
This commit solves the issue
https://github.com/USEPA/useeior/commit/a0a31fb216fb00c288e0571b44613082dc4d08b1

[2021-03-18 01:29] #115 closed

[2021-03-18 02:07] WesIngwersen opened #116 "Declaration of FinalDemandSectors must not be specific to detail model"
https://github.com/USEPA/useeior/blob/523ec8dc4298e66ecc21d8aa943e7520062b756e/R/LoadIOTables.R#L55

[2021-03-18 21:11] MoLi7 commented on #116
Can we close this now?

[2021-03-19 01:44] #116 closed

[2021-03-19 23:45] MoLi7 commented on #36
Address this issue in [`refac_modelconfig`](https://github.com/USEPA/useeior/tree/refac_modelconfig).

[2021-03-22 11:13] #36 closed

[2021-04-19 16:40] catherinebirney opened #123 "Missing 2017 NAICS from MasterCrosswalk"
@MoLi7
The following 2017 NAICS are not mapped to 2012 NAICS

['21112', '21113', '238111', '238112', '238121', '238122', '238131', '238132', '238141', '238142', '238151', '238152', '238161', '238162', '238171', '238172', '238191', '238192', '238211', '238212', '238221', '238222', '238291', '238292', '238311', '238312', '238321', '238322', '238331', '238332', '238341', '238342', '238351', '238352',

[2021-04-20 17:10] catherinebirney commented on #123
@MoLi7 I checked all listed NAICS and most are not valid NAICS 2017 codes.

The codes that are valid:
'21112', '21113', '4522', '45221', '4523', '45231', '51225', '5173', '51731', '53228'

[2021-04-20 17:12] MoLi7 commented on #123
Thanks @catherinebirney! I'm looking into it now.
PS. I hope you would feel better soon - they said drinking more water is helpful. 😄

[2021-04-20 17:51] MoLi7 commented on #123
It turns out that I created a full, 2-6 digit 2007-2012-2017 NAICS mapping but dropped the rows where the 3 codes are not the same, see [here](https://github.com/USEPA/useeior/blob/572bee63137ba71acc6f769a1e6e758df81d00dd/data-raw/MasterCrosswalk.R#L233-L238). Mostly the case was 2007==2012!=2017, so many 2017 codes were dropped.

It probably was useful before but does not seem right now, so I dis

[2021-04-20 18:00] catherinebirney commented on #123
@MoLi7 Makes sense to me, thanks for taking the time to figure out the issue!

[2021-04-20 18:32] MoLi7 commented on #123
Fixed by 996543653ea85014fa7c0d1d9919f2f66346422e and 1c41d7185c737c331ceda03072371945a9937ae2.

[2021-04-20 18:32] #123 closed

[2021-04-20 19:24] WesIngwersen commented on #123
This looks fine, but I just want to be sure that if additional lines are added for instance with NAICS 2012 codes that correspond to original 2017 codes, that in our aggregation process with existing NAICS 2012 data that those sectors won't be double counted. Please just confirm., thanks.

[2021-04-20 19:43] MoLi7 commented on #123
There won't be double counting in flow aggregation, because `model$crosswalk` has dropped duplicated NAICS2012-to-BEA obs in [model initialization](https://github.com/USEPA/useeior/blob/1c41d7185c737c331ceda03072371945a9937ae2/R/InitializeModel.R#L13).

[2021-04-23 09:10] TheTisiboth opened #124 "Error with writeModelforAPI function"
I tried to use the function `writeModelforAPI`, (from the `master ` branch), and I am getting the following error when it tries to create the demand vectors :
[code]
Is it because of this [issue](https://github.com/USEPA/useeior/issues/107), or simply because is it still under development?

Thank you

[2021-04-23 23:42] WesIngwersen commented on #124
We recently converted 1 flow into 3 separate flows. I suspect it is related to this. I will look into it.

FYI @MoLi7

[2021-04-24 00:04] WesIngwersen commented on #124
There is a case difference in model$SatelliteTable$flows  and model$B rownames that will need to be addressed

[2021-04-24 02:14] MoLi7 commented on #124
Yes, there is a similar case difference in indicators and rownames(B) [here](https://github.com/USEPA/useeior/blob/609a43e799d6571e206f2dfbea166de8ecb759da/R/BuildModel.R#L173). The solution is applying `tolower(factors$Flow)` to match B rownames.

I think it can be adopted to solve [this issue](https://github.com/USEPA/useeior/blob/609a43e799d6571e206f2dfbea166de8ecb759da/R/WriteModel.R#L198), to

[2021-04-24 17:52] WesIngwersen commented on #124
Actually we don't ideally want to lower - why don't we just leave everything untransformed? That's how we decided to treat it with sectors

[2021-04-24 18:01] WesIngwersen commented on #124
I started branch `remove_lower_transform` where i am testing removal of all tolower() instances in the package

[2021-04-24 18:30] WesIngwersen commented on #124
`writeModelforAPI()` is now working without error in the new branch

[2021-04-24 18:31] WesIngwersen commented on #107
Resolved

[2021-04-24 18:31] #107 closed

[2021-04-26 06:45] TheTisiboth commented on #124
Hello Wes
Thank you for your quick answers. Sadly, as I am testing it right now, I get the exact same error, despite your bug fix. Maybe something is wrong with my local setup ? I even tried to uninstall and reinstall the useeior package RStudio (but I don't think it is related with this issue).
I have tested the branch `remove_lower_transform`, with the following script :

[code]

[2021-04-26 23:25] WesIngwersen commented on #124
@TheTisiboth, did you rebuild useeior after pulling that branch.? Otherwise it will load the existing build version of useeior. Or an alternative to attaching the library is simply

[code]

That will load all the functions in that pulled version.

[2021-04-27 07:25] TheTisiboth commented on #124
Oh ok that was my issue, sorry, it is working  without any error now.
Thanks a lot!

[2021-04-27 09:29] TheTisiboth opened #128 "error with writeSectorCrosswalkforAPI"
Hello
I wanted to use this function, but I am getting the following error:

[code]

I tried it on the branch `remove_lower_transform`
Is this a well-known error?
Thank you!

[2021-04-27 16:39] MoLi7 commented on #128
@TheTisiboth the function should be working fine, I suspect the error is caused by mixed use of `/` and `\` in your file path. Could you try to define `modeloutdir` and use `/`?

[2021-04-27 16:49] TheTisiboth commented on #128
Oh you are right, it was as simple as that... Sorry!

[2021-04-27 16:55] #128 closed

[2021-04-27 19:33] #124 closed

[2021-05-04 17:43] MoLi7 commented on #27
This issue is related to https://github.com/USEPA/useeior/issues/35.

[2021-05-04 17:43] #27 closed

[2021-05-04 17:46] MoLi7 commented on #35
Moving matrices like A to model$matrices, or adding model$matrices$A in addition to model$A?

[2021-05-05 15:18] WesIngwersen commented on #35
It would be moving objects, not duplicating them.

[2021-05-05 16:29] MoLi7 commented on #35
Ok, I will work on it in a new branch.

[2021-05-05 16:46] WesIngwersen commented on #35
@MoLi7 before you invest too much time on this, let's work discuss it in our meeting today

[2021-05-06 18:44] WesIngwersen opened #130 "Detail_FinalDemandCodeName_2012 not found"
upon running buildModel("USEEIOv2.0")

[code]

[2021-05-06 18:57] #130 closed

[2021-05-24 13:09] WesIngwersen commented on #35
Decided against grouping and instead we removed some additional unneeded matrices

[2021-05-24 13:09] #35 closed

[2021-05-25 13:24] WesIngwersen opened #133 "'DomesticFinalDemandbyCommodity' not found for commodity model"
message received upon `buildModel` for USEEIOv2.0:

[code]

[2021-05-25 15:08] WesIngwersen commented on #133
Resolved with commit 3d1bf21

[2021-05-25 15:08] WesIngwersen commented on #133
Resolved with commit 3d1bf21

[2021-05-25 15:19] WesIngwersen opened #134 "Model$U and model$U_d not properly indexed"
rownames are missing

[2021-05-25 16:54] MoLi7 commented on #134
That's odd. I don't see mis-indexed model$U and model$U_d for any of these models: USEEIOv2.0s-GHG, USEEIOv2.0-GHG_nodisagg, and USEEIOv2.0i-GHG_nodisagg.

To confirm it, I added simple check code below right after model$U and model$U_d are [created](https://github.com/USEPA/useeior/blob/3d1bf212c3a840dfefa0aa2daa2a9577dce0567e/R/BuildModel.R#L43-L48). Could you test it at your end? @WesIngwersen

[2021-05-25 18:38] WesIngwersen opened #135 "Return informative error when model doesn't exist"
running buildModel (or its first child function "initializeModel") still returns an error message like something broke, rather than informing the user that no model with that name exists

[code]

[2021-05-25 18:41] WesIngwersen commented on #134
[code]

I'm suspecting it might be my version of dplyr, which is `0.8.3`. i will look up to see if they make some changes in `bind_rows()` to index rows in a more recent version

[2021-05-25 19:19] #134 closed

[2021-05-25 19:20] WesIngwersen commented on #134
Yes that was the issue..it might have been the dplyr dependency vctrs package that was old..an update to the most recent version results in row names being applied in that transformation

[2021-05-26 01:49] #135 closed

[2021-05-26 15:33] WesIngwersen opened #136 "Replace NA with 0 in U matrix"
The U matrix has NA fields where value added rows intersect with final demand columns. This creates an issue when writing the matrix to binary format.

[2021-05-26 15:44] WesIngwersen opened #137 "Common year range needed for Rho and Phi matrix in output"
The years present in Rho and Phi should be the same in all output formats, and some metadata for years will also be needed when writing Rho and Phi to binary formats to provide a way to index by the year

[2021-05-26 18:33] #136 closed

[2021-06-01 16:17] #137 closed

[2021-06-09 22:45] WesIngwersen opened #145 "'::' or ':::' import not declared from: 'rlang'"
from  R CMD check results

  '::' or ':::' import not declared from: 'rlang'

[2021-06-09 23:34] #145 closed

[2021-06-09 23:36] MoLi7 commented on #145
`rlang` is added in DESCRIPTION and that warning is gone.
@WesIngwersen

[2021-07-23 23:09] bl-young opened #149 "writeModeltoXLSX doesn't overwrite old model metadata"
I'm finding that changing a model configuration _after_ I've already written it to excel using writeModeltoXLSX can lead to issues where model components don't get accurately updated when using writeModeltoXLSX again.

In this case, updating the indicators, the matrices are updated fine in excel, but the metadata (e.g. indicators tab) do not get updated because the metadata from the old model are

[2021-08-04 17:30] bl-young opened #150 "Warning in writeModeltoXLSX"
[code]

[2021-08-04 18:32] MoLi7 commented on #150
I cannot replicate your example...
`> writeModeltoXLSX(model, '/Users/moli/Desktop')`
`2021-08-04 11:28:35 INFO::Model matrices written to Excel workbook (.xlsx) in //Users/moli/Desktop.`

Which step in `writeModeltoXLSX` would you think is causing such warning?

[2021-08-04 18:43] MoLi7 commented on #149
`writeModeltoXLSX` is designed to 'write model to .xlsx' only, overwriting old model metadata should be handled by `writeModelMetadata`.

If model metadata is updated but `writeModelMetadata` is not re-run to overwrite the old files, we probably should consider removing the if-else in L93-L97 and forcing `writeModelMetadata` anyway.

[2021-08-04 20:27] bl-young commented on #149
Agreed. I don't think its clear to a user that they would need to re-run `writeModelMetadata` before `writeModeltoXLSX`

[2021-08-04 22:08] #149 closed

[2021-08-13 19:50] mwfrost commented on #150
@MoLi7 Use `warnings()` and I think you will see what Ben is referring to.

The `class()` method does not always return a single class name. Rather, it returns a list of all the classes that an R object inherits from. Try `class(matrix(1:6, 2,3))` for an example.

Because some of the objects in `USEEIOtoXLSX_ls` are of the `matrix` data type, the `class()` method returns `"matrix" "array"`, and bo

[2021-08-13 20:05] mwfrost commented on #150
Code used for testing, saving here for lack of a better file:
[code]

[2021-08-16 21:27] MoLi7 commented on #150
@mwfrost thanks for looking into this!

Somehow `class(matrix(1:6, 2,3))` only returns `matrix` in my R setup/environment (version 3.6.3), but I can see that `D` is both matrix and array:

[1] TRUE

[1] TRUE

In your suggestion `( USEEIOtoXLSX_ls[[n]] %>% is("matrix")  | USEEIOtoXLSX_ls[[n]] %>% is("data.frame") )`, I suppose we need to define `%>%` first?

Maybe we can use `(is.matrix(USEEIOtoXLS

[2021-08-17 17:52] bl-young opened #154 "writing functions need consistent placement of outputs"
writeModeltoXLSX, writeModelMatrices, and writeModelforAPI handle the output path differently. I end up with lots of embedded folders: build/data, some without the model name and some with. Can these be standardized a bit?

[2021-08-18 19:54] #150 closed

[2021-08-24 00:27] WesIngwersen commented on #154
There is a need to write API output and other metadata output to separate location ... API output make be directly pushed to a hosting server that will not use other output.

[2021-08-24 00:27] #154 closed

[2021-08-24 12:31] mwfrost commented on #150
Nice to see that this was fixed. I load the `magrittr` library in my environment out of habit, so the `%>%` pipe is always defined, but you are correct, @MoLi7  -- that's not the case in the application code.

[2021-08-25 13:21] WesIngwersen opened #157 "Comment on LoadIndicators misleading"
https://github.com/USEPA/useeior/blob/7dfe5b61afa4aa97741bac74b2c03d7f29933f03/R/LoadIndicators.R#L7

The comment suggests this function creates a C matrix but that is not the case; that doesn't come until later

[2021-09-08 18:49] bl-young opened #159 "Missing disaggregation of some flows for waste"
Updates to align sector codes for the base tables to include location resulted in errors in handling the disaggregation of some satellite tables, notably those tables maintained from v1.1: GHGs, Wastes, Energy, Minerals (although some do not contain data for the waste sector 562000)

When assessing disaggregation, the original sector `562000/US` is not found in the satellite tables so disaggregati

[2021-09-09 18:02] bl-young commented on #159
a more complete refactoring of the satellite tables during disaggregation is taking place in electricity_disagg branch

[2021-09-13 13:08] #159 closed

[2021-09-18 19:54] MoLi7 opened #163 "invalid filename argument in writeSectorCrosswalk"
Passing `NULL` does not fully prepare `dirs` for next steps.
https://github.com/USEPA/useeior/blob/396ae2a32787d94afeaa3fbfcb53d07ed9490157/R/WriteModel.R#L26

[2021-09-18 19:57] #157 closed

[2021-10-04 22:03] MoLi7 opened #165 "Integrate model validation (and other documentation)"
I initially wanted to add `ModelValidation.Rmd` as a standard [`vignette`](https://r-pkgs.org/vignettes.html), but after some research I realized that, upon package building via `devtools::build()`, `vignette` will only generate html or pdf documents, which are not viable in terms of version control, nor are they easily readable on GitHub.

A workaround is to create a new `/inst/doc` folder, store

[2021-10-04 23:51] WesIngwersen commented on #165
That's great info. I think we need to discuss mord. This will present the results of a given model, right? This is a quearion of how much individual model docs we want to keep in the package. As far as the package is concerned, each of the model specs are equal so do we provide a ModelValidation md/html that covers every model spec in the package?

[2021-10-05 16:11] MoLi7 commented on #165
Each model having a designated `ModelValidation.Rmd/.md` is redundant.

Yes, one `ModelValidation.Rmd/.md` for the most comprehensive model (e.g. USEEIOv2.0) which is also eligible for validating other models that have equal specs (e.g. USEEIOv2.0-GHG) is a good alternative.

Then for each major model update (2.0 -> 2.1), a designated `ModelValidation.Rmd/.md` is justifiable.

[2021-10-06 02:01] bl-young opened #166 "allocation of NAICS to BEA reverting to equal allocation instead of industry output"
upon merging, NAs are assigned as 1

due to change in model objects which assign location codes, the merge is not successfully bringing in industry output

[2021-10-06 02:02] bl-young commented on #166
@MoLi7 can you confirm I am not mistaken here? I have a fix coming on the electricity_disagg branch (or I can pop that commit and move it to master)

[2021-10-29 11:08] msrocka opened #169 "Some values are larger in `A_d` than in `A`?"
Using the current `master` branch, I just built the matrices of the `USEEIOv2.0.1` model and exported them via:

[code]

When I calculate `A - A_d` I get some negative result patterns, especially for the transport inputs, which means that the values in `A_d` are larger here?:

![image](https://user-images.githubusercontent.com/3520062/139424109-a7d620d4-048a-4f6d-a67e-71c378b74d95.png)

Shouldn't

[2021-11-05 23:35] MoLi7 commented on #169
Because we included `ImportCost` in `DomesticUse` calculation:
https://github.com/USEPA/useeior/blob/a5ff886055cf6971446ba25121b66e4ea8aa66f3/R/IOFunctions.R#L192-L196
As a result, `DomesticUse` is no longer simply `Use` - `Import`, instead it is:
https://github.com/USEPA/useeior/blob/a5ff886055cf6971446ba25121b66e4ea8aa66f3/R/IOFunctions.R#L207
Given the original BEA IO accounts, `ImportCost` of

[2021-11-08 11:40] msrocka commented on #169
Many thanks @MoLi7 . This is interesting, but shouldn't the import costs be also added to the normal use table then so that they are also included in `A`?

[2021-11-30 21:41] WesIngwersen opened #178 "Consider revising production demand vector"
The current formula for production demand is
[code]
https://github.com/USEPA/useeior/blob/a5ff886055cf6971446ba25121b66e4ea8aa66f3/R/DemandFunctions.R#L43

The _d in the first and third term on right show values derived from the final demand side of the Domestic Use table. The reason for this is to take out the imported goods from final consumption and from change in inventories.  However, this is

[2021-11-30 21:48] WesIngwersen commented on #178
My proposal is to change the production vector for the full model to just be the sum of all the final demand columns. Including imports will more than remove imports from consumption, it will also correct the model so that
[code]
the new y_p will thus be
[code]
(where y_m) are imports, but they are negative such that it is equivalent to the commonly understood economic definition of GDP as

[code]

[2021-11-30 21:51] WesIngwersen commented on #178
@MoLi7  @jvendries @bl-young  thoughts?

[2021-11-30 23:40] MoLi7 commented on #178
Yes, it makes sense to add import as a part of `y_p` for simplicity.

I suppose this does not conflict with the need for a domestic production demand vector that supports validation of domestic requirements matrix, right?
https://github.com/USEPA/useeior/blob/20013cf7bb449f25baf92b2ba6b58afb9f70fbcf/R/DemandFunctions.R#L57-L69

[2021-12-01 00:01] WesIngwersen commented on #178
Correct it would not conflict nor obviate the need for a separate domestic production demand

[2021-12-01 00:06] WesIngwersen commented on #178
I will start an issue_178 branch off of develop to draft changes

[2021-12-01 19:55] MoLi7 commented on #169
Update: we modified our methodology to exclude `ImportCost`, also referred to as`InternationalTradeAdjustment`, from `DomesticUse` calculation. Instead, `InternationalTradeAdjustment` is only declared as a model component `model$mu` for transparency. And now `DomesticUse` = `Use` - `Import`, which should lead to `A` >= `A_d` for all commodities.

@msrocka see https://github.com/USEPA/useeior/pull/

[2021-12-01 21:03] #178 closed

[2021-12-01 21:06] WesIngwersen opened #181 "Include standard demand vectors by default in model builds"

[2021-12-01 21:07] WesIngwersen commented on #181
The following demand vectors will be made standard in all models (for model primary region and for model IO year)

Production_Complete
Production_Domestic
Consumption_Complete
Consumption_Domestic

These demand vectors will no longer need to be specified in the model specs

Additional demand vectors to be created at model build time will need to be added to model specs.

[2021-12-01 21:09] WesIngwersen commented on #181
This was discussed in PR #179 . I will work on this in the issue_178 branch since it builds off those changes

[2021-12-01 21:12] WesIngwersen commented on #165
Please reconcile this plan with the validation being done with gh-actions in PR #180

[2021-12-02 19:07] WesIngwersen commented on #181
Done now with #32df3e9

[2021-12-02 19:07] #181 closed

[2021-12-02 22:31] MoLi7 commented on #169
This issue is resolved by PR https://github.com/USEPA/useeior/pull/175.

[2021-12-02 22:31] #169 closed

[2021-12-03 13:37] WesIngwersen opened #182 "Document analytical and viz functions"
There should be some documentation of the analytical (like contribution analysis) or visualization functions in the README or wiki

[2021-12-03 17:24] MoLi7 opened #183 "adjustMultiplierPriceType and adjustResultMatrixPrice do not work for models with BasePriceType=="PUR""
We recommend building USEEIO models with `BasePriceType=="PRO"`, but the functions should give users flexibility to build `PUR` models then optionally adjust model results to `PRO`.
Thinking about refactoring these two functions to achieve the goal.
@WesIngwersen

[2021-12-03 17:29] WesIngwersen commented on #183
This ia a nice goal but not a simple task. It will require considerable evaluation and testing.

[2021-12-03 17:40] MoLi7 commented on #183
Save this till after v1.0?

[2021-12-03 19:17] MoLi7 opened #184 "Simplify parameters in calculateDirectPerspectiveLCIA"
`calculateDirectPerspectiveLCIA` should be able to take `model$D` in place of `model$B` and `model$C` as parameter
https://github.com/USEPA/useeior/blob/ee6170a208a3bd17e5cc0119bc0597c5d55e5ead/R/CalculationFunctions.R#L53
Similar to how `calculateFinalPerspectiveLCIA` takes `model$N` instead of `model$M` and `model$C`
https://github.com/USEPA/useeior/blob/ee6170a208a3bd17e5cc0119bc0597c5d55e5ead/

[2021-12-04 00:28] #184 closed

[2021-12-05 14:59] WesIngwersen opened #186 "USEEIO v2.0/v2.0.1 domestic output validation - 13 commodities failing at 1% tolerance"
See the github action log. I also replicated the same result with v2.0.1
https://github.com/USEPA/useeior/runs/4422662831?check_suite_focus=true#step:7:149

In v0.4 only three sectors were failing
[v2.0 build and validation log](https://figshare.com/articles/journal_contribution/USEEIO2_0_Build_and_Validation_Script/14079536)
 `4200ID/US, S00402/US, S00300/US`

[2021-12-06 21:24] #186 closed

[2021-12-07 01:05] MoLi7 commented on #182
Add small example(s) of validation, too.

[2021-12-08 20:39] MoLi7 opened #189 "Clarify aggregateResultTable function"
Would it help to change the function name to `aggregateResultMatrixbyRow`? As it more clearly reflects what the function does.
https://github.com/USEPA/useeior/blob/723e3fb34e87270569ff186bd11cd60081fff398/R/CalculationFunctions.R#L203-L210
And it is more relatable to the main aggregating function which aggregates by row then by col.
https://github.com/USEPA/useeior/blob/723e3fb34e87270569ff186bd1

[2021-12-09 02:11] #189 closed

[2021-12-10 22:23] #163 closed

[2021-12-11 20:38] WesIngwersen commented on #163
I ran into the same issue. I just need to update my package code.  thanks for fixing.

[2021-12-12 21:38] MoLi7 commented on #165
Main part of this plan (validation) is implemented by proposal in PR https://github.com/USEPA/useeior/pull/168 and solution in PR https://github.com/USEPA/useeior/pull/180.

[2021-12-12 21:38] #165 closed

[2021-12-15 19:05] bl-young opened #190 "Industry model failing domestic validation"
[code]

[code]

[2021-12-15 20:10] WesIngwersen commented on #190
This would occur for one because the new mu is used in the domestic validation, but hasnt been transformed into industry format.

@bl-young @MoLi7

[2021-12-15 20:29] WesIngwersen commented on #190
Or Final Demand in both

Use and Import Matrix must have been  already transformed before creating mu

[2021-12-15 20:30] MoLi7 commented on #190
@WesIngwersen actually `mu` is transformed to industry format.
https://github.com/USEPA/useeior/blob/aa39236b1eb62ee3686471c3a136b4c2dc1e64dd/R/LoadIOTables.R#L133

The root cause is because it is forced to a `data.frame` instead of a `numeric` vector and causing `DomesticProduction` demand vector to be a `df` then lead to validation failure.
https://github.com/USEPA/useeior/commit/6f29af5ec1a65cd

[2021-12-15 20:47] bl-young commented on #190
The error is resolved, but the validation for commodity output equals domestic use plus production demand is failing
https://github.com/USEPA/useeior/runs/4539468910?check_suite_focus=true#step:7:217

[2021-12-15 21:05] MoLi7 commented on #190
In the validation function, the calculation of `x` is a mix of by-commodity vector (before `+`) and by-industry vector (after `+`), which is incorrect.
https://github.com/USEPA/useeior/blob/6f29af5ec1a65cddd8a9bb6f9d61a11b6fd96cb0/R/ValidateModel.R#L104-L105

For an `industry` model, `compareCommodityOutputandDomesticUseplusProductionDemand` should still use `DomesticProduction` demand vector in b

[2021-12-15 21:17] WesIngwersen commented on #190
That function was written with a limited scope at the time for testing commodity models.  So industry models tests shouldn't use that one unless it was rescoped

[2021-12-15 21:19] WesIngwersen commented on #190
Validation of output with Leontief and validation of environmental totals  if they run the domestic models as well as the complete models would be sufficient

[2021-12-15 21:21] bl-young commented on #190
So it sounds like the solution is skipping that test for industry models?

https://github.com/USEPA/useeior/blob/17aa4ed103099231a45801d2f0ff710342f41b34/R/ValidateModel.R#L305-L309

[2021-12-15 21:54] MoLi7 commented on #190
I agree.

[2021-12-15 22:23] bl-young commented on #190
resolved by https://github.com/USEPA/useeior/pull/191/commits/68c60bca53c843b37484016146ff0fc33e257d64

[2021-12-15 22:23] #190 closed

[2021-12-21 01:30] MoLi7 commented on #182
Validation example added in https://github.com/USEPA/useeior/commit/61563fee87918e3b54468061146f1e12a8c3dc22.
Visualization example added in https://github.com/USEPA/useeior/commit/ab54243ab092dbf5362d48c1639e516508cfc96e.
Contribution analysis example added in https://github.com/USEPA/useeior/commit/3a77810a2c0e7bfe503d8aa3c24bf56e781a8d8a.

[2021-12-21 01:39] MoLi7 commented on #182
The built-in `USEEIOv2.0.1` model is used to demo validation, visualization and contribution analysis. Because the model has 400+ sectors, I chose not to include the point figure of `N` or `D` matrix results - it will be an extremely long figure thus not viewer friendly.
Feel free to add more or modify the existing examples. @WesIngwersen

[2021-12-22 12:43] WesIngwersen opened #192 "examples? folder"
There is still an example script in the examples folder. Determine if this will stay or go for the milestone.

[2021-12-22 16:58] MoLi7 commented on #192
I deleted it. We've given example in README. Future supporting docs can be saved in inst/doc/.

[2021-12-22 16:58] #192 closed

[2021-12-22 21:52] WesIngwersen opened #193 "Update WAT and LAND file refs in >= v2.0.1 specs"
Adding this to track that this issue is addressed before minting v1

fyi @MoLi7

[2021-12-23 04:09] catherinebirney commented on #193
updated with this [commit](https://github.com/USEPA/useeior/commit/f64cf9625e5ed40be66793682cc8846a477381e3)

[2021-12-23 11:22] WesIngwersen commented on #193
Thanks. Closing.

[2021-12-23 11:23] #193 closed

[2021-12-23 11:53] WesIngwersen opened #194 "Description of result objects incorrect"
https://github.com/USEPA/useeior/blob/c32905dc4244ea7df83f92d7a608639ff1db82ad/format_specs/result.md?plain=1#L6

These are incorrect.  `_d` objects are not a direct impact result.  Matrices referred to in notes are incorrect.

[2021-12-23 11:56] WesIngwersen opened #195 "Define default demand vectors"
Somewhere in the documentation outside the function docstrings the default demand vectors need to be defined and linked to in the README or other places where they are described

[2021-12-23 12:04] WesIngwersen commented on #182
No need to present all visualizations

[2021-12-23 12:07] WesIngwersen commented on #182
There is no mention of any of the Rmd files in inst/doc.  Should we mention those somewhere to describe how they are used?

[2021-12-23 15:56] #194 closed

[2021-12-23 17:52] MoLi7 commented on #182
Validation `Rmds` are described in dcea044752021025a2aa417f3a2313ac1915ffe5. Compare model `Rmds` are describe in b57de2e668715c4b0f44e67643221778834533f9. Example.Rmd is described in 31b36d7fe49a6382fe1543ec28f56aabe8dced93.
@WesIngwersen

[2021-12-23 18:08] MoLi7 commented on #195
Doc about default vectors are in [ModelSpecification.md](https://github.com/USEPA/useeior/blob/develop/format_specs/ModelSpecification.md#demand-vector-specifications) in `develop` branch. I added link to it in [README](0f4ae15cde86870c8b512db165b9d01ec20a7591).

[2021-12-24 05:43] #195 closed

[2021-12-24 05:53] MoLi7 opened #197 "calculateConsumptionContributiontoImpact does not calculate contribution percentage"
https://github.com/USEPA/useeior/blob/f2eaf5ea31fb45a3be15f062ee734e196a51691c/R/CalculationFunctions.R#L253-L260

The output of this function is not a matrix of 0-100% values like those of `calculateSectorContributiontoImpact` and `calculateFlowContributiontoImpact` in which `calculatePercentContributiontoImpact` is used to divide two vectors to get a contribution percentage.

Could you correct m

[2021-12-27 17:32] bl-young commented on #197
This function creates a sector by sector matrix for a given impact from a given demand vector. So it is not percentages (but is 1 step away from being a percent, simply dividing a cell by sum of the matrix). If you want to rename it for consistency with the other functions, perhaps `calculateSectorbySectorImpact`?

[2021-12-27 18:02] MoLi7 commented on #197
Since it's a sector x sector matrix, I suppose it's important to clarify what's on the rows and columns like how you did it in the doc
https://github.com/USEPA/useeior/blob/f2eaf5ea31fb45a3be15f062ee734e196a51691c/R/CalculationFunctions.R#L251

So, maybe `calculateSectorPurchasedbySectorSourcedImpact`?

Plus, if there are negative demand for certain sectors in `y`, there will be negative values in

[2021-12-27 18:24] bl-young commented on #197
Sure that works for me.

Yes I believe that would be accurate.

[2021-12-27 18:40] MoLi7 commented on #197
Issue and discussion resolved by eb775cfb993828c7fc3ff470052d773863a58cde. Thanks @bl-young for clarification!

[2021-12-27 18:40] #197 closed

[2021-12-27 20:44] WesIngwersen commented on #197
It would be good to clarify when these analysis functions based on marginal impacts and when they are based on the full model calculation. I don't know if this should be the names or just the way they are presented in documentation

[2021-12-27 21:20] MoLi7 commented on #197
In fact, `calculateFlowContributiontoImpact` is based on direct+indirect impacts using `M` or `M_d`, while `calculateSectorContributiontoImpact` and `calculateSectorPurchasedbySectorSourcedImpact`) are based on direct impacts using `D`.

[2021-12-28 19:10] bl-young opened #198 "URL update for census naics data"
https://github.com/USEPA/useeior/blob/b9b6d0fe7189ab86caf9552a413386bad71c6b36/data-raw/MasterCrosswalk.R#L216

I believe the url has been updated see https://www.census.gov/naics/?68967

https://www.census.gov/naics/concordances/2012_to_2017_NAICS.xlsx

This may apply to more than just this line

[2021-12-29 19:33] WesIngwersen commented on #197
@MoLi7, I understand the the confusion, because they are using the D matrix as an input into calculations. But the values in the D matrix get multiplied by a value that includes the total requirements, which is the L in the case of  calculateSectorContributiontoImpact, or Ly, in the case of calculateSectorPurchasedbySectorSourcedImpact, which makes them equivalent to N and LCIA, respectively, whic

[2021-12-29 20:11] MoLi7 commented on #197
Thanks for the clarification - it makes total sense now. I see that you want to use `calculateSectorContributiontoImpact`, so there has to be a multiplication of `L` and `D` instead of directing using `N`. This is fine with me as long as the docs are clear - I edited them in d5ab44f26d06abd92606fd9bbb9641fa94b13bf2.

In README, explanation about these contribution analyses are updated in e51d1f447

[2021-12-29 22:45] MoLi7 commented on #198
Should be addressed by 2ff3ccac808f1c50ec909652962e1bded0f3cf0c.

[2021-12-29 23:02] #182 closed

[2021-12-30 14:49] bl-young commented on #198
@MoLi7 the link looks the same still in that commit?

[2021-12-30 15:00] WesIngwersen opened #199 "writeModelMetaData `dirs` undefined"
`dirs` is undefined here
https://github.com/USEPA/useeior/blob/8e6dc3d550ab1177773e2f70ecfdec990f91098b/R/WriteModel.R#L208

This traces back to the refactoring done in
https://github.com/USEPA/useeior/commit/e4fff4ce6b494c905afec9635a76041c948013bf#r62693493

[2021-12-30 15:10] WesIngwersen opened #200 "Some model names like v2.0.1 and v2.1 no longer exist but still used in docs"
https://github.com/USEPA/useeior/blob/8e6dc3d550ab1177773e2f70ecfdec990f91098b/inst/doc/Example.Rmd#L27

[2021-12-30 16:54] MoLi7 commented on #198
Opened PR https://github.com/USEPA/useeior/pull/201 to correct the link.

[2021-12-30 17:37] #199 closed

[2021-12-30 17:48] #198 closed

[2021-12-30 18:45] #200 closed

[2021-12-30 18:47] WesIngwersen opened #204 "remove absolute links to files within repo"
README and format_specs still have links to files in develop like here
https://github.com/USEPA/useeior/blob/0063fe197ec440af8b7a7a26c8094a2df62622bd/README.md?plain=1#L89
These links need to be made relative

[2021-12-30 18:50] WesIngwersen commented on #204
Also correct in readme the statement that the html and md from the doc Rmds get written to output, which is not the case. But link to output for the example

[2021-12-30 18:52] WesIngwersen commented on #204
and remove EPA SMM program text in use of prioritization

[2021-12-30 19:07] #204 closed

[2022-01-05 21:38] MoLi7 opened #206 "Modify writeMetadatatoJSON to have 'package' as a parameter"
Shall we modify writeMetadatatoJSON and under `useeior v1.0.1`? So that when `stateior` can depend on a solid version of `useeior` then use the function under that version.
@WesIngwersen

[2022-01-06 00:17] WesIngwersen commented on #206
sure - we don't need to mint a version just yet for that change...we know we will include it in a future version.

[2022-01-06 16:56] #206 closed

[2022-01-17 16:56] MoLi7 opened #208 "Commodities in summary models not using commodity names"
Discovered by @WesIngwersen . I investigated and found the Summary sectors in [USEEIO_Commodity_Meta](https://github.com/USEPA/useeior/blob/master/inst/extdata/USEEIO_Commodity_Meta.csv) are not accompanied with correct commodity name.

L432-L507 in the table should be updated with https://github.com/USEPA/useeior/blob/master/inst/extdata/Crosswalk_SummaryIndustrytoCommodityName2012Schema.csv to f

[2022-02-08 22:52] MoLi7 opened #210 "Initializing Disaggregation of IO tables is extremely slow for industry model (USEEIOv2.0-i-411)"
A user reached out with a question about industry models:

I tried it at my end and can confirm it is indeed quite slow.

https://user-images.githubusercontent.com/28787399/153088042-6a39b0f7-711c-4797-b63f-362f1c313dc3.mov

This should be traced back to the `balanceDisagg` function but am not understanding why it can be so slow to balance the disagg-ed tables in an industry model, while it only t

[2022-02-09 02:24] jvendries commented on #210
@MoLi7 Yes, this is a pending issue with the disaggregation functions. Namely, disaggregation is not yet tailored to work properly with industry models, and it is possible that some of the disaggregated industry models will not converge. I plan to address this once the summary level disaggregation code is completed.

[2022-02-09 18:10] MoLi7 commented on #210
The allocation factors for disaggregating IO tables should be the same for Industry and Commodity models, as the IO tables themselves are unchanged for the two types of models.

I figured the problem is caused by disaggregating the wrong `FinalDemand` ([here](https://github.com/USEPA/useeior/blob/master/R/DisaggregateFunctions.R#L491-L497)) then appending it to `FullUse` that can never be balanced

[2022-02-09 19:27] MoLi7 commented on #210
That's right, I created a new yml file based on USEEIOv2.0-411 and only changed `CommodityorIndustryType` to Industry.

[2022-02-09 20:43] jvendries commented on #210
@MoLi7 @bl-young I added a bit of code ([here](https://github.com/USEPA/useeior/blob/issue_210/R/DisaggregateFunctions.R#L22-L24)) to disaggregate the `FinalDemandbyCommodity` and `DomesticFinalDemandbyCommodity `objects which are only present in industry models. With these changes, the `modelbuild()` function runs to completion, generating an industry model that seems correct after visual inspect

[2022-02-09 21:40] MoLi7 commented on #210
Thanks @jvendries ! I added validation on USEEIOv2.0-i-411 in the CI/CD [workflow](https://github.com/USEPA/useeior/runs/5132189093?check_suite_focus=true), but it looks like something is not right. I'm looking into it now.

[2022-02-09 22:12] MoLi7 commented on #210
For some reason, `model$FinalDemand` in USEEIOv2.0-i-411 is not in industry x final demand form after disaggregation. See below I checked `identical(model$Industries$Code_Loc, rownames(model$FinalDemand))` before and after disaggregation. Could you fix it? @jvendries

[code]

[2022-02-09 23:53] jvendries commented on #210
@MoLi7  looking into it

[2022-02-10 00:19] jvendries commented on #210
@MoLi7 I think part of the problem lies in the if-else structure we set up for FD disaggregation for industry models ([here](https://github.com/USEPA/useeior/blob/issue_210/R/DisaggregateFunctions.R#L502-L514), and reproduced below):

[code]

When disaggregating industry models the current setup will never enter the
`originalFD <- model$FinalDemand `

and
`originalFD <- model$DomesticFinalDemand`

[2022-02-10 00:40] MoLi7 commented on #210
@jvendries thanks for digging into it.
I understand in industry models `model$FinalDemand` is not disaggregated correctly and propose that we touch it at the end of `disaggregateModel` in the same way we [transform](https://github.com/USEPA/useeior/blob/issue_210/R/LoadIOTables.R#L126-L134) the original BEA data. Let me know if the modified function below makes sense.
[code]

[2022-02-10 00:43] MoLi7 commented on #210
Yes, we should add `if-else` throughout the disagg script to ask every related function to take the correct `FinalDemand` according to model type, e.g. https://github.com/USEPA/useeior/blob/issue_210/R/DisaggregateFunctions.R#L1327

[2022-02-10 01:00] jvendries commented on #210
A question on the following part:

By this point, the `model$FinalDemand ` object would have been disaggregated and assigned `model$FinalDemandbyCommodity`. Is this the correct input form for the `transformFinalDemandwithMarketShares()` function? In other words, will passing in what is effectively `model$FinalDemandbyCommodity` to the `transformFinalDemandwithMarketShares()` result in an industry

[2022-02-10 01:06] MoLi7 commented on #210
I also made changes to the 'Disaggregating main model components' step:
[code]
Therefore, `model$FinalDemand` will stay unchanged until the transform step you referred to.

And you are right, the transformation should use `model$FinalDemandbyCommodity` instead.
[code]

[2022-02-10 01:11] jvendries commented on #210
That makes sense, thanks Mo. Have you pushed these changes or should I copy them over to my local version?

[2022-02-10 01:16] MoLi7 commented on #210
Just pushed the changes in [781a3f5](https://github.com/USEPA/useeior/pull/211/commits/781a3f5b27600a91a754e4b9c6daf7b2f4ae3ea2). I will let you make sure `buildDisaggFullUse` and similar functions are compatible with industry models.

[2022-02-10 19:53] jvendries commented on #210
@MoLi7 A question - I'm running into an error when trying to disaggregate the `model$InternationalTradeAdjustment` object for the industry model. It seems that this object's row names are changed when it is transformed using `transformFinalDemandwithMarketShares() ` ([here ](https://github.com/USEPA/useeior/blob/issue_210/R/LoadIOTables.R#L133)). Before this line, `model$InternationalTradeAdjustme

[2022-02-10 21:18] #208 closed

[2022-02-10 21:39] jvendries commented on #210
This approach results in `model$InternationalTradeAdjustment`  being a named double for commodity models, but a list for industry models, which presents other problems for disaggregation. Additionally, while I'm not sure if it presents problems elsewhere in the package, the result would be an inconsistent data type between `model$InternationalTradeAdjustment`  and `model$InternationalTradeAdjustme

[2022-02-10 22:08] MoLi7 commented on #210
Yes, we should use consistent data type for the two items, and now I recall why the `unlist` was added - it was to force `model$InternationalTradeAdjustment` to be a numeric vector just like `model$InternationalTradeAdjustmentbyCommodity`.

Sorry for the hasty removal of `unlist`, you can revert my last commit and continue with your proposal. I only have one comment: in line 134 it should be `name

[2022-02-10 22:40] jvendries commented on #210
@MoLi7 I pushed the changes we discussed. I tested these changes with the `"USEEIOv2.0-i-411"` and `"USEEIOv2.0-411"` models and they both run to completion (still waiting on the results of the github validation checks). Would you please take a quick look at the changes to make sure they make sense? In particular, it would be helpful if you could take a quick look at [this ](https://github.com/USE

[2022-02-10 22:51] MoLi7 commented on #210
Thank you for making all the changes.
Re:

I think we can disregard the `if-else`, just use `model <- calculateIndustryCommodityOutput(model)` since the method for calculating output should stay the same for commodity and industry models.

Btw, the workflow run failed after your latest commits due to a missing function doc file. I added it and let's wait on the CMD and validation checks.

[2022-02-10 22:58] jvendries commented on #210
I advise against getting rid of that `if-else` block. I tried just using `model <- calculateIndustryCommodityOutput(model)`, and it resulted in a scenario where `model$FinalDemand` was used where it should be `model$FinalDemandbyCommodity` for industry models. However, I could not think of a better alternative to handle that.

[2022-02-11 02:17] #210 closed

[2022-02-12 16:52] WesIngwersen opened #217 "Add sector labels to y axis of heatmap"
https://github.com/USEPA/useeior/blob/d1365d9d98813fb36e7c9d9f46711b846c6308ed/R/VisualizationFunctions.R#L172

The lack of y axis labels in makes the resulting figure less useful.

![USEEIO2 0_SatTableCoverage](https://user-images.githubusercontent.com/5831306/153720323-1f6f35d3-614b-46b0-bfe8-8eeb1b0e6f95.png)

[2022-02-18 19:36] bl-young opened #218 "Consider shifting to make table for industry and commodity output"
Summarizing a conversation with @MoLi7 , @jvendries

Current method for calculating output in `useeior` is using use table columns:
https://github.com/USEPA/useeior/blob/d1365d9d98813fb36e7c9d9f46711b846c6308ed/R/LoadIOTables.R#L217-L222

However, for two-region models, the industry output from the make table can diverge from the use table, most likely due to calculations of value add. In `stateio

[2022-02-18 19:38] bl-young commented on #218
@MoLi7 found [0.4% and -0.9%] difference in N matrix values for `USEEIOv2.0.1-411` when using make table for industry output.

[2022-02-18 19:38] bl-young commented on #218
@WesIngwersen  tagging for your input. Do you recall any reasons why we should not use the make table here?

[2022-02-18 22:33] WesIngwersen commented on #218
We debated this thoroughly for state model creation so we need to review the substance of that debate. I can try to find it.

[2022-02-22 18:14] MoLi7 commented on #218
Any luck on finding the substance of the debate? @WesIngwersen

[2022-02-22 21:52] WesIngwersen commented on #218
Related Jira discussions (for those with access)

[Change source of model commodity output](https://epalca.atlassian.net/browse/USEEIO-964)

[Compare industry output in Use to that in Make](https://epalca.atlassian.net/browse/USEEIO-970)

[2022-02-22 21:53] WesIngwersen commented on #218
@jvendries @bl-young  We need to discuss your proposed WIO approach separately before making any changes to support it

[2022-02-22 23:21] bl-young commented on #218
@MoLi7 , given your plan to adjust stateior to use the use table (https://github.com/USEPA/stateior/issues/12), will we plan to close this issue with no change?

[2022-02-22 23:22] MoLi7 commented on #218
Yes please. Thanks for the discussion!

[2022-02-22 23:30] #218 closed

[2022-03-05 19:22] bl-young opened #219 "Need `Unit` field to support hybrid models"
With hybrid models, new sectors will be characterized with new units (e.g. mass). We need to identify that somewhere in the model.

Propose a new `Unit` field to be added to `model$Commodities` and `model$Industries`

I don't think it will be needed anywhere else.

[2022-03-23 12:32] WesIngwersen opened #220 "demand vector referencing - inconsistency in docs and accepted values"
The example here show passing the full name of the demand vector, like `CompleteProduction`
https://github.com/USEPA/useeior/blob/215ebcb50a1f68df3e30230fe82bb0f4c6bb23fb/README.md?plain=1#L71

Also the names are given here
https://github.com/USEPA/useeior/blob/master/format_specs/ModelSpecification.md#demand-vector-specifications

but this actually fails, the function is expecting just "Productio

[2022-03-23 16:08] MoLi7 commented on #220
Right, the example in README and demand vector specs need to be updated. Hot-fix in `master` or maintenance fix in `develop`?

[2022-03-23 18:38] MoLi7 commented on #220
I corrected the example in README, now `calculateEEIOModel` is passed correct param values.

As for the demand vector specs, they are actually consistent with [those in the `yml` file](https://github.com/USEPA/useeior/blob/develop/inst/extdata/demandspecs/DefaultDemandVectors.yml). No change is needed here.

[2022-03-28 19:35] #220 closed

[2022-04-07 17:48] WesIngwersen opened #222 "CI testing check failing"
The checks automated in github actions are still failing for master

[2022-04-07 17:48] WesIngwersen commented on #222
can we do a hotfix to address these?

[2022-04-07 18:32] MoLi7 commented on #222
The failing is NOT on `master`, see https://github.com/USEPA/useeior/actions?query=branch%3Amaster.

Currently in README, the CMD check badge refers to the most recent actions result - failing on `updateIO` branch. According to [this GitHub doc](https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge#using-the-branch-parameter), there is a way to

[2022-04-07 19:03] MoLi7 commented on #222
I manually re-run the CMD check workflow, now the status badge shows 'passing'. Hotfix option 2 works, but still has the limitation of being easily overwritten.

Rethinking about option 1. The reason for failing on `updateIO` is [labeled as 'error in syntax'](https://github.com/USEPA/useeior/actions/runs/2110899686/workflow) which is odd. Looking into it now.

[2022-04-07 19:40] MoLi7 commented on #222
Update on the syntax error on `updateIO`: the indentation in `R-CMD-check.yaml` was messed up, took me three commits (45a79345f496015fda7843ed9098cc477efbd627 and 2 precedents) to fix them all.

Pushing commit to `updateIO` is set to not trigger any actions workflow, and that is what I'm seeing now - 45a79345f496015fda7843ed9098cc477efbd627 did not trigger any workflow run.

To update status badge

[2022-04-07 20:07] #222 closed

[2022-04-12 19:22] bl-young commented on #219
I believe this should be also added when writing model matrices such that `sectors.csv` has the Unit field added, otherwise there is no indication anywhere in the export of the reference flow of the hybrid processes.

[2022-04-15 01:01] MoLi7 opened #225 "useeior and stateior cannot (?) depend on each other"
When we initialized the integration of state IO data, it was natural to add `stateior` as a dependency of `useeior`. This led to a situation where the two packages are interdependent on each other, as `stateior` needs to use the US IO data in `useeior`.

I didn't read any "don't do it (i.e. the interdependency)" in related documents or discussions, but the `R-CMD-check` failures caused by "[Depend

[2022-04-15 01:14] MoLi7 commented on #225
Fortunately, `useeior` does not use any `stateior` core functions - all it needs is the functions that load state IO data from Data Commons. These functions now are in `stateior`, but they can be easily migrated to `useeior`, then `stateior` will perform just like `flowsa` - it generates data for `useeior` but is not directly connected with `useeior`.

By creating a few data loading functions in `

[2022-04-15 01:16] MoLi7 commented on #225
@WesIngwersen what do you think?

[2022-04-18 15:23] WesIngwersen opened #226 "Add household/final user environmental matrix and include in result calculation"
Household and other flows from other final uses will be tracked in a model matrix and included in a final result calculation.

[2022-04-22 19:58] #219 closed

[2022-05-04 21:32] WesIngwersen commented on #225
Yes loading data from the  Data Commons can be done in useeior no matter what package the data are produced by. So i dont know if its better to reproduce the functions from stateior or to make the existing functions to read Data Comms data more flexible. I would think the latter. In any case no we dont need that dependency in useeior

[2022-05-05 18:52] MoLi7 commented on #225
I think we would want to have designated functions for loading different datasets from Data Commons, because State IO and flowsa FBS data (and unknown future data) would require different processing steps. We already have [FlowsaFunctions.R](https://github.com/USEPA/useeior/blob/master/R/FlowsaFunctions.R), I hope to create **StateiorFunctions.R** for state IO data exclusively.

[2022-07-06 19:09] bl-young opened #227 "Generate models without impact assessment"
Some simple models may not require impact assessment. But not including indicators in the model specs will cause issues in buildModel, such as:
https://github.com/USEPA/useeior/blob/810e322ce2a04bf2b0a9aa1f75d2dc837461951b/R/BuildModel.R#L83-L85

I propose making impact assessment optional and therefore in some cases not having a C, D, and N matrices.

[2022-07-06 19:14] bl-young opened #228 "Enable satellite tables from custom path"
Model specs and some input files can be [loaded from outside the package ](https://github.com/USEPA/useeior/wiki/Using-useeior#building-customized-models). Would there be value in also allowing satellite tables to be loaded in this way?

Satellite tables currently must match the data commons format or be within the package already:
https://github.com/USEPA/useeior/blob/810e322ce2a04bf2b0a9aa1f75d2

[2022-07-07 14:57] robinsonkwame opened #229 "Usage missing `attachNamespace("useeior")`"
eg,
[code]
but
[code]
works

[2022-07-07 16:43] MoLi7 commented on #229
Thanks for the comment. Please refer to the updated [Usage](https://github.com/USEPA/useeior#usage).

[2022-07-07 16:43] #229 closed

[2022-07-08 00:22] bl-young commented on #227
I think it would also impact some of the model export features. For testing WIO it may be helpful some partial models without indicators. I will implement this when I get a chance.

[2022-07-08 18:51] robinsonkwame opened #230 "`writeModelforAPI` matrix U matrix entries not found in sectors.txt"
I did the following,
[code]

and when later using the api that uses the model matrices I received an error suggesting that number of rows in matrix U was not the same as the elements in sectors.csv, eg
[code]

Closer inspection, using the Excel output for clarity, shows that, U has sector `ID` on rows 413, 414, and 415
[code]
that are not present in `sectors.csv`

what's the appropriate resolution

[2022-07-08 19:41] MoLi7 commented on #230
@WesIngwersen is [calc.py](https://github.com/USEPA/USEEIO_API/blob/master/python/useeioapi/calc.py) in USEEIO-API not updated to be able to calculate v2.0 models?

[2022-07-11 18:43] WesIngwersen commented on #230
The python version of the USEEIO API was deprecated though the code had not been removed. I tool care of that with https://github.com/USEPA/USEEIO_API/commit/303f1e74dbd962c5b291236d7b69a93ab312d96c
Please use the Wiki instructions to build the go version from source and if you deploy that locally you can still use the Python code to test it or use it.

[2022-07-25 12:14] bl-young opened #233 "Industry model with disaggregation not passing validation"
On #221, 562HAZ is not passing validation on [USEEIOv2.0-i-411](https://github.com/USEPA/useeior/runs/7477060640?check_suite_focus=true#step:8:86)
[code]

[2022-07-27 16:06] MoLi7 commented on #233
Thanks @jvendries ! Yes, we can close this issue now.

[2022-07-27 19:27] #225 closed

[2022-08-19 15:09] WesIngwersen opened #236 "calculateOutputRatio returning invalid ratios for summary level models"
Function at https://github.com/USEPA/useeior/blob/0e4ac3d7c37e7860da9194b5b12d9bacf89ce74a/R/UtilityFunctions.R#L63

All values should be 1 for toSummaryRatio for this model because its a summary model

[code]

[2022-08-19 16:39] MoLi7 commented on #236
https://github.com/USEPA/useeior/commit/d8fc51cbff716b0c4d32f5d86df643b0d749c5bc corrects the calculation of output ratio and execute it conditionally based on model IO level.

[2022-09-15 13:30] bl-young opened #240 "Review annual BEA release"
Review available BEA data updates

https://www.bea.gov/news/schedule

[2022-09-15 13:32] bl-young commented on #240
as a side note, [the action that was created](https://github.com/USEPA/useeior/actions/runs/3056954196) to generate this issue automatically failed. I believe because it uses a third party repo for the scheduling

Similar to the [issue in lciafmt](https://github.com/USEPA/LCIAformatter/issues/85)

[2022-09-15 16:59] MoLi7 commented on #240
Thanks Ben. Restriction on third party Actions supposedly can be lifted in Settings (see [instructions](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository#allowing-specific-actions-to-run)) but could cause security concerns.

[2022-10-04 23:11] emehlhop opened #279 "USEEIO Version Online"
Hello,

Just trying to make sure we have the most up to date version of this dataset. The version published here https://catalog.data.gov/dataset/useeio-v2-0-1-411 says that is was run on useeior v1.0.0

Would we need to run the code using useeior v1.1.1 to get the most current version? Thank you!

[2022-10-12 16:22] #236 closed

[2022-10-20 02:11] bl-young opened #241 "two region: mismatch in IODataVersion and data available"
To generate a two-region model of more recent years like 2019 requires `IODataVersion: 0.2.0`. However, data don't exist on data commons for years < 2018 with that version so the following chunk fails:
https://github.com/USEPA/useeior/blob/6e6b2a6c73efce8a077af76857da71cae8b4bdbf/R/LoadIOTables.R#L259-L266

[2022-10-20 02:18] bl-young opened #242 "two-region: Error in `transformIndustryCPItoCommodityCPIforYear`"
The transformation from industry to commodity CPI fails when the `IOYear` is not 2012

[2022-10-20 15:56] MoLi7 commented on #241
A valid combination of `IOYear` and `IODataVersion` can be defined in model specs, which can avoid the issue.
https://github.com/USEPA/useeior/blob/a1f749a92c163aa989a4a7da40f5b61d2e14f978/inst/extdata/modelspecs/GAEEIOv2.0-s-WAT.yml#L4-L8

[2022-10-20 15:59] bl-young commented on #241
This was the method that causes the error:
[code]
In the code chunk above it is looking for 2012-2017 data w/ version 0.2.0 which doesn't exist.

[2022-10-20 16:31] bl-young commented on #241
but building the multiyear industry and commodity outputs requires the full date range (so presumably 2012-2020), though currently it only does 2012-2017, see line 259

[2022-10-20 17:23] bl-young commented on #242
using model spec:
[code]

[2022-10-20 17:59] bl-young commented on #242
user error, had old stateio files

[2022-10-20 17:59] #242 closed

[2022-10-21 01:30] #227 closed

[2022-11-17 23:59] MoLi7 commented on #240
Hey @WesIngwersen and @bl-young , looks like BEA has updated some underlying tables (GDP, CPI, etc.) to include 2021 data. If you consider pulling them in, running the [save-BEA-data Actions workflow](https://github.com/USEPA/useeior/actions/workflows/save-BEA-data.yaml) should download and save those new tables automatically.